<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
        <title>News parses</title>
    </head>
    <body>
    <div style="margin: 0;position: fixed; top: 50%; left:50%;transform: translate(-50%, -50%);">
        <form name="form", method="POST", style="text-align: center;">
            <br>
            <input type="string" name="text_input", placeholder="Enter url: " required/>
            <br><br>
            <button value="Submit">Parse</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </div>
    </body>
</html>